{% extends "ap2.j2" %}

{% block summary %}
<p>
Citerra staat voor "City Environmental Regulations and Rights for Access" voor steden,
gemeenten, bedrijven, burgers, verenigingen en overheden, en
heeft als doel de link te leggen tussen de genoemde stakeholders en de lokale regelgeving.
De focus van dit City of Things traject ligt op "toegang tot autoluwe zones en
autovrije gebieden" of gebieden met cameratoezicht.
Het doel van Citerra is om alle regelgevingen te centraliseren en uniform te maken,
waarbij de aanvragen voor vergunningen kunnen worden ingediend.
Hierbij is het belangrijk te vermelden dat naast de uniformisering het
ook zal mogelijk gemaakt worden voor lokale besturen om eigen business rules in te richten
door middel van parametrisering.
Hoewel de Stad Antwerpen het project leidt, is het de
bedoeling om dit initiatief breder te zien richting alle lokale besturen.
</p>

<p>
Op dit moment is de informatie over verschillende gereglementeerde zones in de stad niet
goed georganiseerd, wat het voor burgers en bedrijven moeilijk maakt om te begrijpen
welke regels waar van toepassing zijn.
Het handmatig invullen van persoonlijke gegevens
bij herhaalde aanvragen leidt ook tot frustratie.
Om dit te verbeteren, streeft het project
ernaar gebruikers zelf hun profiel te laten beheren, inclusief het toevoegen van extra
nummerplaten, en om gegevens automatisch in te vullen bij nieuwe aanvragen.
Bovendien
voldoet het project aan de Europese Commissie Directive over "Intelligent Transport
Systems" door steden te verplichten Urban Vehicle Access Rights (UVAR) data naar het
Europese Platform te uploaden, wat geautomatiseerd zal verlopen.
</p>

<p>
Dit applicatieprofiel gebruikt onder andere klassen en eigenschappen van
<a href="https://semiceu.github.io/CCCEV/releases/2.1.0/">Core Criterion and Core Evidence Vocabulary</a> en
<a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-public-service-vocabulary">Core Public Service Vocabulary (CPSV)</a>.
Het werd gealigneerd met <a href="https://semiceu.github.io/CPSV-AP/releases/3.2.0/">CPSV-AP</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/">OSLO Dossier</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienst-transactiemodel/">OSLO Dienst-Transactiemodel</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/omgevingsvergunning/">OSLO Omgevingsvergunning</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-mobiliteit/">OSLO Besluit-Mobiliteit</a>, en
<a href="https://belgif.github.io/thematic/models/public%20services/index_en.html">ICEG</a>.
<p>

<p>
<a href="https://github.com/Informatievlaanderen/OSLOthema-citerra/tree/main/data-examples">hier</a>
kunt u een aantal datavoorbeelden terugvinden
</p>
{% endblock %}
