{% extends "voc2.j2" %}

{% block summary %}
Dit vocabularium difineert termen om mobiliteitstoegang te beschrijven.
Het aantal termen is beperkt aangezien we voor het bijhorende applicatieprofiel OSLO Citerra bijna allemaal bestaande
klassen en eigenschappen hergebruikte hebben.
{% endblock %}

{% block status %}
{% endblock %}
