{% extends "voc2.j2" %}

{% block summary %}
Dit vocabularium richt zich op het toegang verlenen tot autoluwe zones.
Wat volgt zijn een aantal use cases die hieronder vallen:

<ul>
  <li>Configuren van een autoluwe zone.</li>
  <li>Vergunning aanvragen voor toegang tot een zone als particulier.</li>
  <li>Vergunning aanvragen voor toegang tot een zone als onderneming.</li>
  <li>Weigering van een aanvraag voor toegang tot een zone.</li>
</ul>

Het aantal termen is beperkt aangezien we voor het bijhorende applicatieprofiel OSLO Mobilitieit: Intelligente Toegang
bijna allemaal bestaande lassen en eigenschappen hergebruikte hebben.
{% endblock %}
