{% extends "ap2.j2" %}

{% block summary %}
Dit applicatieprofiel richt zich op het toegang verlenen tot autoluwe zones.
Wat volgt zijn een aantal use cases die hieronder vallen:

<ul>
  <li>Configuren van een autoluwe zone.</li>
  <li>Vergunning aanvragen voor toegang tot een zone als particulier.</li>
  <li>Vergunning aanvragen voor toegang tot een zone als onderneming.</li>
  <li>Weigering van een aanvraag voor toegang tot een zone.</li>
</ul>

<p>
Dit applicatieprofiel gebruikt onder andere klassen en eigenschappen van
<a href="https://semiceu.github.io/CCCEV/releases/2.1.0/">Core Criterion and Core Evidence Vocabulary</a> en
<a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-public-service-vocabulary">Core Public Service Vocabulary (CPSV)</a>.
Het werd gealigneerd met <a href="https://semiceu.github.io/CPSV-AP/releases/3.2.0/">CPSV-AP</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/">OSLO Dossier</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienst-transactiemodel/">OSLO Dienst-Transactiemodel</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/omgevingsvergunning/">OSLO Omgevingsvergunning</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-mobiliteit/">OSLO Besluit-Mobiliteit</a>, en
<a href="https://belgif.github.io/thematic/models/public%20services/index_en.html">ICEG</a>.
<p>

<p>
<a href="https://github.com/Informatievlaanderen/OSLOthema-citerra/tree/main/data-examples">Hier</a>
kunt u een aantal datavoorbeelden terugvinden.
</p>
{% endblock %}
